<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div c1lass="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-offset-1">
        <p>
          I am a socialable software engineer (it's only a slight oxymoron) who
          wants to make great software for people to use!
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
