<style> {% include css/style.css %} </style>

<div class = "descriptions" style="display: block; text-align: left;"> 

		<h3 style="text-align: center; border"> Background </h3>
    <ul>
        <li> I made the landing page website for District Dumplings </li>
        <li> Specifically: I implemented the core of the website - the images were provided and I applied some styling via photoshop and css </li>
    </ul><br>

		<h3 style="text-align: center; border"> What is this site? </h3>
		<ul >
				<li> It is a website for the small-business restaurant, District Dumplings, which is located in Fairfax, Virginia </li>
		</ul>
		<br>
	<h3 style="text-align: center; border"> Client Description of Website</h3>
	<ul >
		<li> Be easy to navigate! </li>
		<li> Present information very concisely </li>
	</ul>
	<br> 
	<br> 
	<a href="{{ site.baseurl }}/img/thumbnails/DistrictDumplings.png"><img style="width: 99%;" src="{{ site.baseurl }}/img/thumbnails/DistrictDumplings.png" title="made at imgflip.com"/></a>

	<h3 style="text-align: center; border"> Under the hood</h3>
	<ul >
		<li> Back-End: PHP; Front-End: HTML, CSS, Javascript </li>
		<li> Wordpress is CMS  </li>
		<li> Pique theme used </li> 
		<li> Hosted by Hostgator</li> 
	</ul>

</div>
