<style>
    {% include css/style.css %}
</style>

<div class="descriptions" style="display: block; text-align: left">
    <h3>Background</h3>
    <ul>
        <li> <mark> As a team of 4, we created a prototype web app for the startup, Finnest </mark></li>
        <li> Finnest is a mobile app tied to a secured debit card which that handles financial transactions for kids and teens </li>
        <li> I worked on front-end aspects</li>
    </ul><br>
    <a href="{{ site.baseurl }}/img/thumbnails/Finnest.png"><img style="width: 95%" src="{{ site.baseurl }}/img/thumbnails/Finnest.png" title="Finnest"/></a>
    <h3>Under the Hood </h3>
    <ul>
        <li>We use Sails.js as our MVC framework (it's developed atop the Node.JS enivornment) </li>
        <li>We used Foundation for styling</li>
        <li>For the backend: MySQL is our RDBMS</li>
    </ul>
</div>