<style> {% include css/style.css %} </style>

<div class = "descriptions" style="display: block; text-align: left;"> 

		<h3 style="text-align: center; border"> Background </h3>
    <ul>
        <li> I made the revamped website for Hubble Optics </li>
    </ul><br>

	<h3 style="text-align: center; border"> What is this site? </h3>
		<ul >
			<li> Hubble optics is a website for the small-business, Hubble Optics, which sells large-scale optic systems </li>
		</ul>
		<br>
	<h3 style="text-align: center; border"> Client Description of Website</h3>
	<ul >
		
		<li> Website should have a lefthand navbar on all pages </li>
		<li> The objective of the business is to sell optic systems to customers</li>
		<li> Target demographic customers are generally age range of 40+ </li>
		<li> <mark>Should not have fancy features</mark> and should be very simple to navigate</li>
	</ul>
	<br> 

		<br> 

	<br> 

	<a href="{{ site.baseurl }}/img/thumbnails/HubbleOptics.png"><img style="width: 99%;" src="{{ site.baseurl }}/img/thumbnails/HubbleOptics.png" title="made at imgflip.com"/></a>

	<h3 style="text-align: center; border"> Under the hood</h3>
	<ul >
		<li> Handle and monitor Search Engine Optimization (e.g. web crawls) </li>
		<li> Content hosted on AWS cloudfront </li> 
		<li> Hosted by Yahoo Small Business (as per client request)</li> 
	</ul>
</div>
