<style> {% include css/style.css %} </style>

<div class = "descriptions" style="display: block; text-align: left;"> 
		<h3 style="text-align: center; border"> Background </h3>
    <ul>
        <li> I made the website landing page for Loop </li>
        <li> Specifically: I implemented the core of the website along with the external sign up, and for the images I applied styling via photoshop (the video + most of the images were provided) </li>
    </ul><br>
	<h3 style="text-align: center; border"> What is this site? </h3>
		<ul >
			<li>  Loop is the landing page for a start-up called Loop: a connection campus life platform for college students, administrators and organizations</li>
		</ul>
		<br>
	<h3 style="text-align: center; border"> Client Description of Website</h3>
	<ul >	
		<li> Website should be for onboarding new-users </li>
		<li> Target demographic customers are student leaders and college administrators </li>
		<li> Client provided the video to showcase users - to be viewable on the front page of the website </li>
	</ul>
	<br> 
	<br> 
	<a href="{{ site.baseurl }}/img/thumbnails/Loop.png"><img style="width: 99%;" src="{{ site.baseurl }}/img/thumbnails/Loop.png" title="made at imgflip.com"/></a>
	<h3 style="text-align: center; border"> Under the hood</h3>
		<ul >
		<li> Back-End: PHP; Front-End: HTML, CSS, Javascript </li>
		<li> Wordpress is CMS  </li>
		<li> Using MailChimp to add users to the MailList</li> 
		<li> Hosted by Siteground </li> 
	</ul>
	<br> 
</div>
