<style>
    {% include css/style.css %}
</style>
<div class="descriptions" style="display: block; text-align: left">
    <h3>Background</h3>
     <ul>
        <li>We&apos;ve all been there. You know that person&apos;s face and remember his horn-rimmed glasses, fiery-red hair and shy demeanor. BUT: you just cannot remember his name.</li>
        <li><mark> To solve this problem, I made a mobile App (iOS and Android) that stores the names + descriptions of the people you meet within your social groups.</mark> </li>
        <li> I built the app from scratch with the UI+UX feedback of 8+ people along with some architectural guidance</li>
   </ul>
   <br>
   <a href="{{ site.baseurl }}/img/thumbnails/NameKeeper.png"><img style="width: 95%" src="{{ site.baseurl }}/img/thumbnails/NameKeeper.png" title="Name Keeper 1"/></a>
   <h3>How does it work?</h3>
   <ul>
      <li>The app has groups (i.e. social circles) you create. </li>
      <li>Inside each group (e.g. Work) you put down the names of the people you meet </li>
      <li>This app is meant for those niche occasions where you meet someone in passing (and don't get their FB or #), but might see them again in the future </li>
      <li>The main target audience is club/organizational leaders</li>
    </ul>
    <br>
    <a href="{{ site.baseurl }}/img/namekeeper/NameKeeper2.png"><img style="width: 95%" src="{{ site.baseurl }}/img/namekeeper/NameKeeper2.png" title="Name Keeper 2"/></a>
    <br>
    <h3>Under the Hood </h3>
    <ul>
        <li>Views: React Native</li>
        <li>Back-end: Expo, React Navigator, SQLite, Redux and Sentry</li>
        <li>Approved by App Store for Beta release under Testflight; currently being deployed to Google Play</li>
    </ul><br>
    <a href="{{ site.baseurl }}/img/namekeeper/NameKeeper3.png"><img style="width: 95%" src="{{ site.baseurl }}/img/namekeeper/NameKeeper3.png" title="Name Keeper 3"/></a>
    <h4>Source Code:</h4>
    <p class="descriptions"> <a href="https://github.com/matthewliuswims/name-keeper">https://github.com/matthewliuswims/name-keeper</a></p>
</div>